In [68]:
import pandas as pd
import json

In [69]:
with open("country2continent.json") as f:
    countries = list(json.load(f).keys())

print(countries)

['Bolivia', 'Ecuador', 'Nigeria', 'Indonesia', 'Chile', 'Germany', 'Andorra', 'Japan', 'Malaysia', 'Unknown', 'Philippines', 'Puerto Rico', 'Kenya', 'Guatemala', 'Romania', 'Cyprus', 'Kazakhstan', 'Czech Republic', 'Brazil', 'Ethiopia', 'Thailand', 'United Kingdom', 'Vietnam', 'Tunisia', 'United States of America', 'Netherlands', 'Iraq', 'Singapore', 'Colombia', 'Bangladesh', 'Russia', 'Venezuela', 'Kyrgyzstan', 'Slovakia', 'Iran', 'Armenia', 'Myanmar', 'Nicaragua', 'Ukraine', 'Mongolia', 'Mexico', 'China', 'Taiwan', 'Egypt', 'Australia', 'Libya', 'Greece', 'Uruguay', 'Zimbabwe', 'Morocco', 'Canada', 'South Korea', 'Peru', 'Tajikistan', 'New Zealand', 'Turkey', 'Lebanon', 'Hong Kong', 'Pakistan', 'Jordan', 'Argentina']

In [70]:
df = pd.read_excel(r"CLASS.xlsx", engine='openpyxl')
df

,Economy,Code,Region,Income group,Lending category,Unnamed: 5
0,Aruba,ABW,Latin America & Caribbean,High income,NaN,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA,NaN
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN
4,Andorra,AND,Europe & Central Asia,High income,NaN,NaN
...,...,...,...,...,...,...
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN,NaN
265,Upper middle income,UMC,NaN,NaN,NaN,NaN
266,World,WLD,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
all_country2income = dict(zip(df['Economy'], df['Income group']))
all_country2income

{'Aruba': 'High income',
 'Afghanistan': 'Low income',
 'Angola': 'Lower middle income',
 'Albania': 'Upper middle income',
 'Andorra': 'High income',
 'United Arab Emirates': 'High income',
 'Argentina': 'Upper middle income',
 'Armenia': 'Upper middle income',
 'American Samoa': 'High income',
 'Antigua and Barbuda': 'High income',
 'Australia': 'High income',
 'Austria': 'High income',
 'Azerbaijan': 'Upper middle income',
 'Burundi': 'Low income',
 'Belgium': 'High income',
 'Benin': 'Lower middle income',
 'Burkina Faso': 'Low income',
 'Bangladesh': 'Lower middle income',
 'Bulgaria': 'Upper middle income',
 'Bahrain': 'High income',
 'Bahamas, The': 'High income',
 'Bosnia and Herzegovina': 'Upper middle income',
 'Belarus': 'Upper middle income',
 'Belize': 'Upper middle income',
 'Bermuda': 'High income',
 'Bolivia': 'Lower middle income',
 'Brazil': 'Upper middle income',
 'Barbados': 'High income',
 'Brunei Darussalam': 'High income',
 'Bhutan': 'Lower middle income',
 'Botswana': 'Upper middle income',
 'Central African Republic': 'Low income',
 'Canada': 'High income',
 'Switzerland': 'High income',
 'Channel Islands': 'High income',
 'Chile': 'High income',
 'China': 'Upper middle income',
 'Côte d’Ivoire': 'Lower middle income',
 'Cameroon': 'Lower middle income',
 'Congo, Dem. Rep.': 'Low income',
 'Congo, Rep.': 'Lower middle income',
 'Colombia': 'Upper middle income',
 'Comoros': 'Lower middle income',
 'Cabo Verde': 'Lower middle income',
 'Costa Rica': 'Upper middle income',
 'Cuba': 'Upper middle income',
 'Curaçao': 'High income',
 'Cayman Islands': 'High income',
 'Cyprus': 'High income',
 'Czechia': 'High income',
 'Germany': 'High income',
 'Djibouti': 'Lower middle income',
 'Dominica': 'Upper middle income',
 'Denmark': 'High income',
 'Dominican Republic': 'Upper middle income',
 'Algeria': 'Lower middle income',
 'Ecuador': 'Upper middle income',
 'Egypt, Arab Rep.': 'Lower middle income',
 'Eritrea': 'Low income',
 'Spain': 'High income',
 'Estonia': 'High income',
 'Ethiopia': 'Low income',
 'Finland': 'High income',
 'Fiji': 'Upper middle income',
 'France': 'High income',
 'Faroe Islands': 'High income',
 'Micronesia, Fed. Sts.': 'Lower middle income',
 'Gabon': 'Upper middle income',
 'United Kingdom': 'High income',
 'Georgia': 'Upper middle income',
 'Ghana': 'Lower middle income',
 'Gibraltar': 'High income',
 'Guinea': 'Lower middle income',
 'Gambia, The': 'Low income',
 'Guinea-Bissau': 'Low income',
 'Equatorial Guinea': 'Upper middle income',
 'Greece': 'High income',
 'Grenada': 'Upper middle income',
 'Greenland': 'High income',
 'Guatemala': 'Upper middle income',
 'Guam': 'High income',
 'Guyana': 'High income',
 'Hong Kong SAR, China': 'High income',
 'Honduras': 'Lower middle income',
 'Croatia': 'High income',
 'Haiti': 'Lower middle income',
 'Hungary': 'High income',
 'Indonesia': 'Upper middle income',
 'Isle of Man': 'High income',
 'India': 'Lower middle income',
 'Ireland': 'High income',
 'Iran, Islamic Rep.': 'Lower middle income',
 'Iraq': 'Upper middle income',
 'Iceland': 'High income',
 'Israel': 'High income',
 'Italy': 'High income',
 'Jamaica': 'Upper middle income',
 'Jordan': 'Lower middle income',
 'Japan': 'High income',
 'Kazakhstan': 'Upper middle income',
 'Kenya': 'Lower middle income',
 'Kyrgyz Republic': 'Lower middle income',
 'Cambodia': 'Lower middle income',
 'Kiribati': 'Lower middle income',
 'St. Kitts and Nevis': 'High income',
 'Korea, Rep.': 'High income',
 'Kuwait': 'High income',
 'Lao PDR': 'Lower middle income',
 'Lebanon': 'Lower middle income',
 'Liberia': 'Low income',
 'Libya': 'Upper middle income',
 'St. Lucia': 'Upper middle income',
 'Liechtenstein': 'High income',
 'Sri Lanka': 'Lower middle income',
 'Lesotho': 'Lower middle income',
 'Lithuania': 'High income',
 'Luxembourg': 'High income',
 'Latvia': 'High income',
 'Macao SAR, China': 'High income',
 'St. Martin (French part)': 'High income',
 'Morocco': 'Lower middle income',
 'Monaco': 'High income',
 'Moldova': 'Upper middle income',
 'Madagascar': 'Low income',
 'Maldives': 'Upper middle income',
 'Mexico': 'Upper middle income',
 'Marshall Islands': 'Upper middle income',
 'North Macedonia': 'Upper middle income',
 'Mali': 'Low income',
 'Malta': 'High income',
 'Myanmar': 'Lower middle income',
 'Montenegro': 'Upper middle income',
 'Mongolia': 'Lower middle income',
 'Northern Mariana Islands': 'High income',
 'Mozambique': 'Low income',
 'Mauritania': 'Lower middle income',
 'Mauritius': 'Upper middle income',
 'Malawi': 'Low income',
 'Malaysia': 'Upper middle income',
 'Namibia': 'Upper middle income',
 'New Caledonia': 'High income',
 'Niger': 'Low income',
 'Nigeria': 'Lower middle income',
 'Nicaragua': 'Lower middle income',
 'Netherlands': 'High income',
 'Norway': 'High income',
 'Nepal': 'Lower middle income',
 'Nauru': 'High income',
 'New Zealand': 'High income',
 'Oman': 'High income',
 'Pakistan': 'Lower middle income',
 'Panama': 'High income',
 'Peru': 'Upper middle income',
 'Philippines': 'Lower middle income',
 'Palau': 'Upper middle income',
 'Papua New Guinea': 'Lower middle income',
 'Poland': 'High income',
 'Puerto Rico': 'High income',
 "Korea, Dem. People's Rep.": 'Low income',
 'Portugal': 'High income',
 'Paraguay': 'Upper middle income',
 'West Bank and Gaza': 'Upper middle income',
 'French Polynesia': 'High income',
 'Qatar': 'High income',
 'Romania': 'High income',
 'Russian Federation': 'Upper middle income',
 'Rwanda': 'Low income',
 'Saudi Arabia': 'High income',
 'Sudan': 'Low income',
 'Senegal': 'Lower middle income',
 'Singapore': 'High income',
 'Solomon Islands': 'Lower middle income',
 'Sierra Leone': 'Low income',
 'El Salvador': 'Upper middle income',
 'San Marino': 'High income',
 'Somalia': 'Low income',
 'Serbia': 'Upper middle income',
 'South Sudan': 'Low income',
 'São Tomé and Príncipe': 'Lower middle income',
 'Suriname': 'Upper middle income',
 'Slovak Republic': 'High income',
 'Slovenia': 'High income',
 'Sweden': 'High income',
 'Eswatini': 'Lower middle income',
 'Sint Maarten (Dutch part)': 'High income',
 'Seychelles': 'High income',
 'Syrian Arab Republic': 'Low income',
 'Turks and Caicos Islands': 'High income',
 'Chad': 'Low income',
 'Togo': 'Low income',
 'Thailand': 'Upper middle income',
 'Tajikistan': 'Lower middle income',
 'Turkmenistan': 'Upper middle income',
 'Timor-Leste': 'Lower middle income',
 'Tonga': 'Upper middle income',
 'Trinidad and Tobago': 'High income',
 'Tunisia': 'Lower middle income',
 'Türkiye': 'Upper middle income',
 'Tuvalu': 'Upper middle income',
 'Taiwan, China': 'High income',
 'Tanzania': 'Lower middle income',
 'Uganda': 'Low income',
 'Ukraine': 'Lower middle income',
 'Uruguay': 'High income',
 'United States': 'High income',
 'Uzbekistan': 'Lower middle income',
 'St. Vincent and the Grenadines': 'Upper middle income',
 'Venezuela, RB': nan,
 'British Virgin Islands': 'High income',
 'Virgin Islands (U.S.)': 'High income',
 'Vietnam': 'Lower middle income',
 'Vanuatu': 'Lower middle income',
 'Samoa': 'Lower middle income',
 'Kosovo': 'Upper middle income',
 'Yemen, Rep.': 'Low income',
 'South Africa': 'Upper middle income',
 'Zambia': 'Lower middle income',
 'Zimbabwe': 'Lower middle income',
 nan: nan,
 'Africa Eastern and Southern': nan,
 'Africa Western and Central': nan,
 'Arab World': nan,
 'Caribbean small states': nan,
 'Central Europe and the Baltics': nan,
 'Early-demographic dividend': nan,
 'East Asia & Pacific': nan,
 'East Asia & Pacific (excluding high income)': nan,
 'East Asia & Pacific (IDA & IBRD)': nan,
 'Euro area': nan,
 'Europe & Central Asia': nan,
 'Europe & Central Asia (excluding high income)': nan,
 'Europe & Central Asia (IDA & IBRD)': nan,
 'European Union': nan,
 'Fragile and conflict affected situations': nan,
 'Heavily indebted poor countries (HIPC)': nan,
 'High income': nan,
 'IBRD only': nan,
 'IDA & IBRD total': nan,
 'IDA blend': nan,
 'IDA only': nan,
 'IDA total': nan,
 'Late-demographic dividend': nan,
 'Latin America & Caribbean': nan,
 'Latin America & Caribbean (excluding high income)': nan,
 'Latin America & Caribbean (IDA & IBRD)': nan,
 'Least developed countries: UN classification': nan,
 'Low & middle income': nan,
 'Low income': nan,
 'Lower middle income': nan,
 'Middle East & North Africa': nan,
 'Middle East & North Africa (excluding high income)': nan,
 'Middle East & North Africa (IDA & IBRD)': nan,
 'Middle income': nan,
 'North America': nan,
 'OECD members': nan,
 'Other small states': nan,
 'Pacific island small states': nan,
 'Post-demographic dividend': nan,
 'Pre-demographic dividend': nan,
 'Small states': nan,
 'South Asia': nan,
 'South Asia (IDA & IBRD)': nan,
 'Sub-Saharan Africa': nan,
 'Sub-Saharan Africa (excluding high income)': nan,
 'Sub-Saharan Africa (IDA & IBRD)': nan,
 'Upper middle income': nan,
 'World': nan}

In [64]:
label_dict = {
    "High income": "high",
    "Upper middle income": "upper-middle",
    "Lower middle income": "lower-middle",
    "Low income": "low"
}

In [65]:
country2income = dict()
missing = list()
for country in countries:
    if country in all_country2income:
        country2income[country] = label_dict[all_country2income[country]]
    else:
        missing.append(country)

In [66]:
with open("country2income.json", mode="w") as f:
    json.dump(country2income, f, indent=4)

In [67]:
print(missing)

['Unknown', 'Czech Republic', 'United States of America', 'Russia', 'Venezuela', 'Kyrgyzstan', 'Slovakia', 'Iran', 'Taiwan', 'Egypt', 'South Korea', 'Turkey', 'Hong Kong']

# Income Quartile

In [107]:
df = pd.read_excel(r"income_levels.xlsx", engine='openpyxl')
df = df[df["Income"] != "-"]
df

                      Country  Income Level
0                     Bermuda  125210  high
1                      Norway   95520  high
2                 Switzerland   95490  high
3                  Luxembourg   89200  high
4                     Ireland   79730  high
..                        ...     ...   ...
193                Madagascar     510   low
194  Central African Republic     480   low
195                Mozambique     440   low
196               Afghanistan     380   low
197                   Burundi     240   low

[198 rows x 3 columns]

In [108]:
# Calculate quartiles
q1 = df['Income'].quantile(0.25)
q2 = df['Income'].quantile(0.5)
q3 = df['Income'].quantile(0.75)

# Function to assign quartile labels
def assign_quartile_label(value):
    if value <= q1:
        return 'Quartile 1'
    elif value <= q2:
        return 'Quartile 2'
    elif value <= q3:
        return 'Quartile 3'
    else:
        return 'Quartile 4'

# Add new column with quartile labels
df['quartile'] = df['Income'].apply(assign_quartile_label)
df

                      Country  Income Level    quartile
0                     Bermuda  125210  high  Quartile 4
1                      Norway   95520  high  Quartile 4
2                 Switzerland   95490  high  Quartile 4
3                  Luxembourg   89200  high  Quartile 4
4                     Ireland   79730  high  Quartile 4
..                        ...     ...   ...         ...
193                Madagascar     510   low  Quartile 1
194  Central African Republic     480   low  Quartile 1
195                Mozambique     440   low  Quartile 1
196               Afghanistan     380   low  Quartile 1
197                   Burundi     240   low  Quartile 1

[198 rows x 4 columns]

In [109]:
all_country2quartile = dict(zip(df['Country'], df['quartile']))
all_country2quartile

{'Bermuda': 'Quartile 4',
 'Norway': 'Quartile 4',
 'Switzerland': 'Quartile 4',
 'Luxembourg': 'Quartile 4',
 'Ireland': 'Quartile 4',
 'Isle of Man': 'Quartile 4',
 'United States of America': 'Quartile 4',
 'Faroe Islands': 'Quartile 4',
 'Denmark': 'Quartile 4',
 'Qatar': 'Quartile 4',
 'Iceland': 'Quartile 4',
 'Singapore': 'Quartile 4',
 'Sweden': 'Quartile 4',
 'Cayman Islands': 'Quartile 4',
 'Australia': 'Quartile 4',
 'Netherlands': 'Quartile 4',
 'Austria': 'Quartile 4',
 'Israel': 'Quartile 4',
 'Finland': 'Quartile 4',
 'Hong Kong': 'Quartile 4',
 'Germany': 'Quartile 4',
 'Belgium': 'Quartile 4',
 'Canada': 'Quartile 4',
 'United Kingdom': 'Quartile 4',
 'United Arab Emirates': 'Quartile 4',
 'New Zealand': 'Quartile 4',
 'San Marino': 'Quartile 4',
 'France': 'Quartile 4',
 'Andorra': 'Quartile 4',
 'Macao SAR, China': 'Quartile 4',
 'Japan': 'Quartile 4',
 'Kuwait': 'Quartile 4',
 'Italy': 'Quartile 4',
 'New Caledonia': 'Quartile 4',
 'South Korea': 'Quartile 4',
 'Sint Maarten (Dutch part)': 'Quartile 4',
 'Aruba': 'Quartile 4',
 'Malta': 'Quartile 4',
 'Spain': 'Quartile 4',
 'Bahamas, The': 'Quartile 4',
 'Cyprus': 'Quartile 4',
 'Brunei Darussalam': 'Quartile 4',
 'Slovenia': 'Quartile 4',
 'Bahrain': 'Quartile 4',
 'Saudi Arabia': 'Quartile 4',
 'Estonia': 'Quartile 4',
 'Czech Republic': 'Quartile 4',
 'Portugal': 'Quartile 4',
 'Turks and Caicos Islands': 'Quartile 4',
 'Puerto Rico': 'Quartile 4',
 'Lithuania': 'Quartile 3',
 'Slovakia': 'Quartile 3',
 'Latvia': 'Quartile 3',
 'Greece': 'Quartile 3',
 'Oman': 'Quartile 3',
 'St. Kitts and Nevis': 'Quartile 3',
 'Croatia': 'Quartile 3',
 'Barbados': 'Quartile 3',
 'Antigua and Barbuda': 'Quartile 3',
 'Hungary': 'Quartile 3',
 'Poland': 'Quartile 3',
 'Curaçao': 'Quartile 3',
 'Uruguay': 'Quartile 3',
 'Nauru': 'Quartile 3',
 'Panama': 'Quartile 3',
 'Trinidad and Tobago': 'Quartile 3',
 'Romania': 'Quartile 3',
 'Chile': 'Quartile 3',
 'Guyana': 'Quartile 3',
 'Palau': 'Quartile 3',
 'Bulgaria': 'Quartile 3',
 'Costa Rica': 'Quartile 3',
 'China': 'Quartile 3',
 'Russia': 'Quartile 3',
 'St. Lucia': 'Quartile 3',
 'Seychelles': 'Quartile 3',
 'Malaysia': 'Quartile 3',
 'Argentina': 'Quartile 3',
 'Maldives': 'Quartile 3',
 'Mexico': 'Quartile 3',
 'Turkey': 'Quartile 3',
 'Montenegro': 'Quartile 3',
 'Mauritius': 'Quartile 3',
 'Kazakhstan': 'Quartile 3',
 'Serbia': 'Quartile 3',
 'St. Vincent and the Grenadines': 'Quartile 3',
 'Grenada': 'Quartile 3',
 'Dominican Republic': 'Quartile 3',
 'Dominica': 'Quartile 3',
 'Brazil': 'Quartile 3',
 'Bosnia and Herzegovina': 'Quartile 3',
 'Gabon': 'Quartile 3',
 'Botswana': 'Quartile 3',
 'Marshall Islands': 'Quartile 3',
 'Libya': 'Quartile 3',
 'Thailand': 'Quartile 3',
 'Belarus': 'Quartile 3',
 'Tuvalu': 'Quartile 3',
 'South Africa': 'Quartile 3',
 'Albania': 'Quartile 2',
 'Peru': 'Quartile 2',
 'North Macedonia': 'Quartile 2',
 'Belize': 'Quartile 2',
 'Colombia': 'Quartile 2',
 'Ecuador': 'Quartile 2',
 'Armenia': 'Quartile 2',
 'Paraguay': 'Quartile 2',
 'Jamaica': 'Quartile 2',
 'Azerbaijan': 'Quartile 2',
 'Kosovo': 'Quartile 2',
 'Georgia': 'Quartile 2',
 'Moldova': 'Quartile 2',
 'Fiji': 'Quartile 2',
 'Guatemala': 'Quartile 2',
 'Iraq': 'Quartile 2',
 'Equatorial Guinea': 'Quartile 2',
 'Namibia': 'Quartile 2',
 'Lebanon': 'Quartile 2',
 'Suriname': 'Quartile 2',
 'Tonga': 'Quartile 2',
 'El Salvador': 'Quartile 2',
 'West Bank and Gaza': 'Quartile 2',
 'Indonesia': 'Quartile 2',
 'Jordan': 'Quartile 2',
 'Mongolia': 'Quartile 2',
 'Ukraine': 'Quartile 2',
 'Micronesia, Fed. Sts.': 'Quartile 2',
 'Egypt': 'Quartile 2',
 'Vietnam': 'Quartile 2',
 'Iran': 'Quartile 2',
 'Cabo Verde': 'Quartile 2',
 'Philippines': 'Quartile 2',
 'Algeria': 'Quartile 2',
 'Tunisia': 'Quartile 2',
 'Eswatini': 'Quartile 2',
 'Morocco': 'Quartile 2',
 'Samoa': 'Quartile 2',
 'Vanuatu': 'Quartile 2',
 'Sri Lanka': 'Quartile 2',
 'Bolivia': 'Quartile 2',
 'Djibouti': 'Quartile 2',
 'Bhutan': 'Quartile 2',
 'Bangladesh': 'Quartile 2',
 'Kiribati': 'Quartile 2',
 'Honduras': 'Quartile 2',
 'Papua New Guinea': 'Quartile 2',
 "Côte d'Ivoire": 'Quartile 2',
 'São Tomé and Principe': 'Quartile 2',
 'India': 'Quartile 1',
 'Ghana': 'Quartile 1',
 'Lao PDR': 'Quartile 1',
 'Congo, Rep.': 'Quartile 1',
 'Solomon Islands': 'Quartile 1',
 'Uzbekistan': 'Quartile 1',
 'Kenya': 'Quartile 1',
 'Nigeria': 'Quartile 1',
 'Nicaragua': 'Quartile 1',
 'Mauritania': 'Quartile 1',
 'Timor-Leste': 'Quartile 1',
 'Angola': 'Quartile 1',
 'Zimbabwe': 'Quartile 1',
 'Cambodia': 'Quartile 1',
 'Cameroon': 'Quartile 1',
 'Senegal': 'Quartile 1',
 'Comoros': 'Quartile 1',
 'Haiti': 'Quartile 1',
 'Pakistan': 'Quartile 1',
 'Kyrgyzstan': 'Quartile 1',
 'Benin': 'Quartile 1',
 'Nepal': 'Quartile 1',
 'Myanmar': 'Quartile 1',
 'Zambia': 'Quartile 1',
 'Lesotho': 'Quartile 1',
 'Tajikistan': 'Quartile 1',
 'Tanzania': 'Quartile 1',
 'Guinea': 'Quartile 1',
 'Ethiopia': 'Quartile 1',
 'Togo': 'Quartile 1',
 'Rwanda': 'Quartile 1',
 'Uganda': 'Quartile 1',
 'Burkina Faso': 'Quartile 1',
 'Mali': 'Quartile 1',
 'Guinea-Bissau': 'Quartile 1',
 'Gambia, The': 'Quartile 1',
 'Sudan': 'Quartile 1',
 'Chad': 'Quartile 1',
 'Liberia': 'Quartile 1',
 'Malawi': 'Quartile 1',
 'Congo, Dem. Rep.': 'Quartile 1',
 'Sierra Leone': 'Quartile 1',
 'Somalia': 'Quartile 1',
 'Niger': 'Quartile 1',
 'Syrian Arab Republic': 'Quartile 1',
 'Madagascar': 'Quartile 1',
 'Central African Republic': 'Quartile 1',
 'Mozambique': 'Quartile 1',
 'Afghanistan': 'Quartile 1',
 'Burundi': 'Quartile 1'}

In [110]:
country2quartile = dict()
missing = list()
for country in countries:
    if country in all_country2quartile:
        country2quartile[country] = all_country2quartile[country]
    else:
        missing.append(country)

In [111]:
missing

['Unknown', 'Venezuela', 'Taiwan']

In [112]:
with open("country2quartile.json", mode="w") as f:
    json.dump(country2quartile, f, indent=4)