In [26]:
import pandas as pd
import os

In [38]:
dir = "../../analysis_metrics/alignment/"
for filename in os.listdir(dir):
    fp = os.path.join(dir, filename)
    df = pd.read_csv(fp)
    df.loc[df['Section'] == "Overall", 'Section'] = "AllQuestions"

    print(set(df["Section"]))

alignment_bloomz-3b.csv
alignment_falcon-7b-instruct.csv
alignment_bloomz-1b1.csv
alignment_bloomz-1b7.csv
alignment_Llama-2-13b-chat-hf.csv
alignment_Llama-2-7b-chat-hf.csv
alignment_bloomz-7b1.csv

In [27]:
df = pd.read_csv("../../analysis_metrics/alignment/alignment_Llama-2-13b-chat-hf.csv")
df = df[df['Section'] != 'Overall']
df

          Country Prompt  Section  Alignment
0         Romania    pt1        1   0.675208
1          Russia    pt1        1   0.656011
2        Thailand    pt1        1   0.667860
3           Japan    pt1        1   0.719744
4         Unknown    pt1        1   0.583199
...           ...    ...      ...        ...
7315     Mongolia   pt15        8   0.727828
7316  Puerto Rico   pt15        8   0.670758
7317      Morocco   pt15        8   0.673607
7318   Tajikistan   pt15        8   0.702986
7319       Canada   pt15        8   0.683817

[7320 rows x 4 columns]

In [29]:
prompts = set(df["Prompt"])
prompts

{'pt1',
 'pt10',
 'pt11',
 'pt12',
 'pt13',
 'pt14',
 'pt15',
 'pt2',
 'pt3',
 'pt4',
 'pt5',
 'pt6',
 'pt7',
 'pt8',
 'pt9'}

In [37]:
results = list()

for prompt in prompts:
    prompt_df = df[df["Prompt"] == prompt]
    result = prompt_df.groupby('Country')['Alignment'].mean().reset_index()
    result["Section"] = "SectionsAvg"
    result["Prompt"] = prompt
    results.append(result)
    # print(result)

end_res = pd.concat([df] + results, ignore_index=True)
print(end_res)

        Country Prompt      Section  Alignment
0       Romania    pt1            1   0.675208
1        Russia    pt1            1   0.656011
2      Thailand    pt1            1   0.667860
3         Japan    pt1            1   0.719744
4       Unknown    pt1            1   0.583199
...         ...    ...          ...        ...
8230    Unknown    pt9  SectionsAvg   0.696052
8231    Uruguay    pt9  SectionsAvg   0.757674
8232  Venezuela    pt9  SectionsAvg   0.753846
8233    Vietnam    pt9  SectionsAvg   0.699503
8234   Zimbabwe    pt9  SectionsAvg   0.717187

[8235 rows x 4 columns]

In [28]:
result = df.groupby(['Country', 'Prompt', 'Section'])['Alignment'].mean().reset_index()
result

       Country Prompt  Section  Alignment
0      Andorra    pt1        1   0.794646
1      Andorra    pt1        2   0.693630
2      Andorra    pt1        3   0.761855
3      Andorra    pt1        4   0.883423
4      Andorra    pt1        5   0.850141
...        ...    ...      ...        ...
7315  Zimbabwe    pt9        4   0.780166
7316  Zimbabwe    pt9        5   0.845731
7317  Zimbabwe    pt9        6   0.641924
7318  Zimbabwe    pt9        7   0.706055
7319  Zimbabwe    pt9        8   0.702847

[7320 rows x 4 columns]

In [13]:
# result["Section"] = "SectionsAvg"
# result.head()

   Country      Section  Alignment
0  Andorra  SectionsAvg   0.794062
1  Andorra  SectionsAvg   0.718420
2  Andorra  SectionsAvg   0.687381
3  Andorra  SectionsAvg   0.845228
4  Andorra  SectionsAvg   0.777244

In [14]:
# appended = df.append(result, ignore_index=True)
# appended.head()

    Country Prompt Section  Alignment
0   Romania    pt1       1   0.675208
1    Russia    pt1       1   0.656011
2  Thailand    pt1       1   0.667860
3     Japan    pt1       1   0.719744
4   Unknown    pt1       1   0.583199